@charset "UTF-8";

body, html{
    padding: 0;
    margin: 0;

}

body{
    font-family: roboto;


}

a{
    text-decoration: none;
    color: white;
    font-family: 'Baloo Paaji', cursive;
    font-size: 1.1em;

}
a:hover{
    text-decoration: none;


}
a:focus, a:hover{
    color: #BE946B;
}

.container-fluid{/*pour enlever le padding margin du container fluid qui pousse l'image de la bannière en créant un espace  */
padding: 0;
margin: 0;

}

/*header*/
.header{
    background-color: #4E5B23;
    height: 70px;/*hauter*/
    position : fixed;
    width: 100%;
    z-index: 1;
    padding-top: 10px;

}

.centrer{
    line-height: 58px; /*centrer de manière vertical*/
}
}

#logo:hover{
    text-transform: uppercase;/*majuscule*/
    font-weight: bold;/*en gras*/
    letter-spacing: 1px;/*espace entre les lettres*/
    float: left;/*pour le mettre a gauche*/
    color: cyan;

}
.menu{
    float: right;/*pour le mettre a droite*/
}

.menu a{
    margin-right: 10px;/*pour  mettre a droite*/
    color: white;
    text-decoration:none;
}

.menu a:hover{/*décoration quand on passe sur les liens*/
    color: #BE946B;


}

.banner{
    min-height: 83vh;
    background: url(../img/bureau.jpg) center 0 no-repeat fixed;
}

.ban{
    width: 100%;
    height: 100%;
    position: relative;
}

.ban img{
    width: 100%;
    max-width: 100%;
    height: 600px;

}

.inner-banner{
    /* color: pink; */
    position: absolute;
    top: 36%;
    /*left: 0;*/
    width: 100%;
    text-align: center;
}

.inner-banner button{
    background: #573727;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #573727;
}
#holder{
    color: #573727;
    font-family: roboto;
    font-weight: 300;
}
.inner-banner button{
    background: #573727;
}
/*apropos*/

.vert{
    color: #4E5B23;
    font-size: 10px;

}

h2{
    text-transform: uppercase;
    /* color: -webkit-linear-gradient(left, black, #52524E, black); */
    color: #573727;
    font-size: 23px;
    font-family: 'Spectral SC', serif;
}

h3{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    /* text-decoration: underline; */
    color: #573727;
    font-size: 29px;
    font-family: 'Merienda', cursive;

}
.roboto{
    font-family: roboto;
    color: #573727;
}
h4{
    color: #573727;
}

/*realisations*/
.realisations{
    background: url(../img/marbre2.jpg);
    padding-bottom: 76px;
    /* padding-top: 76px; */
}
/*.item-realisations img {
/*position: relative;
overflow: hidden;*/
/*-webkit-transform: rotate(30deg);
transform: rotate(30deg);*/
/*z-index:1;
height:150px;
box-shadow: 0 0 3px black;*/

.item-realisations img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/*contact*/

/*footer reseaux sociaux*/
.btn {
    color: #2A180A;
    background-color:#BE946B;
    display: inline-block;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transition: 0.2s;
}

.btn:hover{
    background-color: #BE946B;

    color: white;
    xtext-shadow: 1px 1px 1px rgba(98,158,218, 20);
    box-shadow: 1px 1px1px;
    xletter-spacing: 0.2px;
}

.btn-custom{
    background-color: #BE946B;
}

.inner-banner button{
    background-color: #BE946B;
}

.progress-bar{
    background-color: #4E5B23;
}

.footer{
    background:#4E5B23;
}

.center{
    text-align: center;
}

.fa{
    font-size:30px;
    margin:5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.fa:hover{
    font-size: 40px;
    transform: rotate(45deg);
}
.fa-4x{
    font-size: 4em;
    color: white;
}
p{
    margin: 0 0 10px;
    color: white;
}

label{
    color: white;
}
/* .hi-icon a {
display:block;
width:100%;
height:100%;
position:absolute;
top:0px;
z-index:100
} */
#contact{
    color:#2A180A;
}
.largeur{
    width: 100%;
    text-align: left;
    color: grey;
    background: white;
}

.brown{
    color: #573727;
}

.form-control{
    background-color: white;
}

.blanc{
    color: white;
}
.top{
    top: 151px;
    font-size: 20px;
}
