@charset "UTF-8";

body, html{
    padding: 0;
    margin: 0;

}

body{
    font-family: serif;
    /*background-image:linear-gradient(60deg, white, black,);*/

}

a{
    text-decoration: none;
    color: beige;
    font-family: 'Playfair Display SC', serif;
}
a:hover{
    text-decoration: none;
    background: -webkit-linear-gradient(left, #626060, #928B8B);
  background: linear-gradient(to right, #626060, #928B8B);

}

.container-fluid{/*pour enlever le padding margin du container fluid qui pousse l'image de la bannière en créant un espace  */
    padding: 0;
    margin: 0;

}

/*header*/
.header{
    background-color: #4E5B23;
    height: 70px;/*hauter*/
    line-height: 35px; /*centrer de manière vertical*/
    position : fixed;
    width: 100%;
    z-index: 1;

}

}

.logo{
    text-transform: uppercase;/*majuscule*/
    font-weight: bold;/*en gras*/
    letter-spacing: 1px;/*espace entre les lettres*/
    float: left;/*pour le mettre a gauche*/

}
.menu{
    float: right;/*pour le mettre a droite*/
}

.menu a{
    margin-right: 10px;/*pour  mettre a droite*/
    color: beige;
    text-decoration:none;
}

.menu a:hover{/*décoration quand on passe sur les liens*/
    color: #FFCEF3;


}




/*banniere*/

.banner{
    width: 100%;
    height: 100%;
}

.ban{
    width: 100%;
    height: 100%;
    position: relative;
}

.ban img{
    width: 100%;
    max-width: 100%;
     height: 600px;

}

.inner-banner{
    /* color: pink; */
    position: absolute;
    top: 42%;
    /*left: 0;*/
    width: 100%;
    text-align: center;
}

.inner-banner button{
     background: beige;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #573727;
}
#holder{
    color: #573727;
}
.inner-banner button{
    background: #573727;
}
/*apropos*/


h2,h3{
    text-transform: uppercase;
    /* color: -webkit-linear-gradient(left, black, #52524E, black); */
    background: #573727;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.roboto{
    font-family: roboto;
    color: #573727;
}
h4{
    color: #573727;
}

/*realisations*/
.realisations{
    background: url(../img/marbre2.jpg);
}
/*.item-realisations img {
    /*position: relative;
  overflow: hidden;*/
    /*-webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/
    /*z-index:1;
	height:150px;
	box-shadow: 0 0 3px black;*/

.item-realisations img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/*contact*/

/*footer reseaux sociaux*/
.btn {
    color: white;
  background-color:#BE946B;
  display: inline-block;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  transition: 0.2s;
}

.btn:hover{
  background-color: #BE946B;

  color: white;
  xtext-shadow: 1px 1px 1px rgba(98,158,218, 20);
  box-shadow: 1px 1px1px;
  xletter-spacing: 0.2px;
}

.btn-custom{
      background-color: #BE946B;
}

.inner-banner button{
     background-color: #BE946B;
}

 .progress-bar{
    background-color: #4E5B23;
 }

.footer{
    background:#4E5B23;
}

/* .icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
/* .icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0; */
/* }
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
} */

/* Icons */
/* .icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
} */





/* .twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}
.tumblr span {
	background-color: #34526f;
}
.instagram span {
	background-color: #517fa4;
}
.youtube span {
	background-color: #bb0000;
}
.pinterest span {
	background-color: #cb2027;
}



.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .fa-tumblr {
	color: #34526f;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button .fa-instagram {
	color: #517fa4;
}
.icon-button .fa-youtube {
	color: #bb0000;
}
.icon-button .fa-pinterest {
	color: #cb2027;
}




.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
	color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  /* .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem; */


  hr{
height: 1px;
 margin: -0.5em 0;
 padding: 0;
 color: #F00;
 background-color:  #573727;
 border: 0;
  }
