@charset "UTF-8";

body, html{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Lobster', cursive;
    /*background-image:linear-gradient(60deg, white, black,);*/
    background: #E9E9E5;
}

a{
    text-decoration: none;
    color: pink;
    font-family: 'Playfair Display SC', serif;
}
a:hover{
    text-decoration: none;
    background: -webkit-linear-gradient(left, #626060, #928B8B);
  background: linear-gradient(to right, #626060, #928B8B);

}

.container-fluid{/*pour enlever le padding margin du container fluid qui pousse l'image de la bannière en créant un espace  */
    padding: 0;
    margin: 0;

}

/*header*/
.header{
    background: -webkit-linear-gradient(left, black, #52524E, black);
    height: 70px;/*hauter*/
    line-height: 35px; /*centrer de manière vertical*/
}

}

.logo{
    text-transform: uppercase;/*majuscule*/
    font-weight: bold;/*en gras*/
    letter-spacing: 1px;/*espace entre les lettres*/
    float: left;/*pour le mettre a gauche*/

}
.menu{
    float: right;/*pour le mettre a droite*/
}

.menu a{
    margin-right: 20px;/*pour  mettre a droite*/
    color: pink;
     text-decoration:none;
}

.menu a:hover{/*décoration quand on passe sur les liens*/
    color: #FFCEF3;


}



/*#holder{
    color: #E3F8FF ;
}
h1{
    position: absolute;
    color: pink;
    margin-left: 587px;
    margin-top: 230px;
}*/

/*banniere*/

.banner{
    width: 100%;
    height: 100%;
}

.ban{
    width: 100%;
    height: 100%;
    position: relative;
}

.ban img{
    width: 100%;
    max-width: 100%;
}

.inner-banner{
    color: pink;
    position: absolute;
    top: 30%;
    /*left: 0;*/
    width: 100%;
    text-align: center;
}

.inner-banner button{
    background: -webkit-linear-gradient(left, black, #52524E, black);
}

#holder{
    color: pink;
}

/*apropos*/



/*realisations*/

/*.item-realisations img {
    /*position: relative;
  overflow: hidden;*/
    /*-webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/
    /*z-index:1;
	height:150px;
	box-shadow: 0 0 3px black;*/

.item-realisations img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/*contact*/
