@charset "UTF-8";

body, html{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Lobster', cursive;
    /*background-image:linear-gradient(60deg, white, black,);*/

}

a{
    text-decoration: none;
    color: #BE946B;
    font-family: 'Playfair Display SC', serif;
}
a:hover{
    text-decoration: none;
    background: -webkit-linear-gradient(left, #626060, #928B8B);
  background: linear-gradient(to right, #626060, #928B8B);

}

.container-fluid{/*pour enlever le padding margin du container fluid qui pousse l'image de la bannière en créant un espace  */
    padding: 0;
    margin: 0;

}

/*header*/
.header{
    background-color: #4E5B23;
    height: 70px;/*hauter*/
    line-height: 35px; /*centrer de manière vertical*/
}

}

.logo{
    text-transform: uppercase;/*majuscule*/
    font-weight: bold;/*en gras*/
    letter-spacing: 1px;/*espace entre les lettres*/
    float: left;/*pour le mettre a gauche*/

}
.menu{
    float: right;/*pour le mettre a droite*/
}

.menu a{
    margin-right: 20px;/*pour  mettre a droite*/
    color: #BE946B;
     text-decoration:none;
}

.menu a:hover{/*décoration quand on passe sur les liens*/
    color: #BE946B;


}




/*banniere*/

.banner{
    width: 100%;
    height: 100%;
}

.ban{
    width: 100%;
    height: 100%;
    position: relative;
}

.ban img{
    width: 100%;
    max-width: 100%;
    /* height: 879px; */
}

.inner-banner{
    /* color: pink; */
    position: absolute;
    top: 42%;
    /*left: 0;*/
    width: 100%;
    text-align: center;
}

.inner-banner a{
    background: -webkit-linear-gradient(left, black, #52524E, black);
}

#holder{
    color: #573727;
}

/*apropos*/


h2,h3{
    text-transform: uppercase;
    /* color: -webkit-linear-gradient(left, black, #52524E, black); */
    background: #573727;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.roboto{
    font-family: roboto;
    color: #573727;
}
h4{
    color: #573727;
}

/*realisations*/
/*.item-realisations img {
    /*position: relative;
  overflow: hidden;*/
    /*-webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/
    /*z-index:1;
	height:150px;
	box-shadow: 0 0 3px black;*/

.item-realisations img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/*contact*/

/*footer reseaux sociaux*/
.btn {
    color: white;
  background-color:#BE946B;
  display: inline-block;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  transition: 0.2s;
}

.btn:hover{
  background-color: #BE946B;

  color: white;
  xtext-shadow: 1px 1px 1px rgba(98,158,218, 20);
  box-shadow: 1px 1px1px;
  xletter-spacing: 0.2px;
}

.btn-custom{
      background-color: #BE946B;
}

.inner-banner button{
     background-color: #BE946B;
}

 .progress-bar{
    background-color: #4E5B23;
 }

.footer{
    background:#4E5B23;
}
